.chn {
  display: none;
}
.secTitle {
  font-size: 34px;
  text-align: center;
  margin: 50px 0;
}
.secSubTitle {
  font-size: 24px;
  font-weight: bold;
}
.dashed {
  border: 1px dashed #000000;
}
.sec1_wrap {
  width: 100%;
  background: #FAFCFE;
  padding-top: 50px;
}
.sec1_wrap .sec1 {
  width: 940px;
  margin: 0 auto;
}
.sec1_wrap .sec1 .article {
  width: 605px;
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  word-break: break-all;
}
.sec1_wrap .sec1 .article .title {
  margin-bottom: 15px;
}
.sec1_wrap .sec1 .article .desc {
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
.sec1_wrap .sec1 .article .desc span {
  font-weight: bold;
  color: #000000;
}
.sec1_wrap .sec1 .article .desc.eng {
  line-height: 21px;
  font-size: 15px;
  letter-spacing: 0.17;
}
.sec1_wrap .sec1 .secImg {
  width: 280px;
  height: 280px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.sec1_wrap .sec1 .one_title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
.sec1_wrap .sec1 .arr {
  display: block;
  margin: -10px auto 20px auto;
}
.sec1_wrap .sec1 .imgs {
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sec1_wrap .sec1 .imgs .div {
  display: inline-block;
  text-align: center;
}
.sec1_wrap .sec1 .imgs .div img {
  width: 80px;
  height: 80px;
  margin: 0 auto 8px auto;
}
.sec1_wrap .sec1 .imgs .div p {
  text-align: center;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
.sec2 {
  width: 940px;
  margin: 0 auto;
}
.sec2 .title {
  width: 935px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 2px dashed #000000;
}
.sec2 .desc {
  width: 940px;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
}
.sec2 .more {
  display: block;
  width: 110px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin: 10px auto 20px auto;
  border: 2px solid #000000;
  text-decoration: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.sec2 .more img {
  width: 29px;
  vertical-align: middle;
}
.sec3 {
  width: 100%;
  height: 600px;
  margin-top: -600px;
  text-align: center;
}
.sec3 .man {
  position: relative;
  width: 630px;
  margin: 0 auto;
}
.sec3 .man .headers {
  color: #ffffff;
  font-size: 14px;
}
.sec3 .man .headers img {
  display: block;
  cursor: pointer;
}
.sec3 .man .headers span {
  display: block;
  width: 80px;
  text-align: center;
  letter-spacing: 0.2;
}
.sec3 .man .headers .small {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  padding: 2px;
  border: 1px solid #ffffff;
}
.sec3 .man .headers .mid {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  padding: 4px;
  border: 1px solid #ffffff;
}
.sec3 .man .headers .large {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  padding: 6px;
  border: 1px solid #ffffff;
}
.sec3 .man .headers .head1 {
  position: absolute;
  top: 250px;
  left: 80px;
}
.sec3 .man .headers .head2 {
  position: absolute;
  top: 250px;
  right: 80px;
}
.sec3 .man .headers .head3 {
  position: absolute;
  top: 120px;
  left: 30px;
}
.sec3 .man .headers .head4 {
  position: absolute;
  top: 360px;
  left: 300px;
}
.sec3 .man .headers .head5 {
  position: absolute;
  top: 400px;
  left: 620px;
}
.sec3 .man .headers .head6 {
  position: absolute;
  top: 410px;
  left: 0;
}
.sec3 .man .headers .head7 {
  position: absolute;
  top: 210px;
  left: 290px;
}
.sec3 .man .headers .head8 {
  position: absolute;
  top: 140px;
  left: 600px;
}
.sec3 .man .man_desc {
  display: none;
  position: relative;
  width: 630px;
  background: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
}
.sec3 .man .man_desc .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.sec3 .man .man_desc .head {
  text-align: left;
}
.sec3 .man .man_desc .head img {
  width: 78px;
  height: 78px;
  border-radius: 78px;
  border: 1px solid #000000;
  vertical-align: middle;
  margin-bottom: 15px;
  padding: 3px;
}
.sec3 .man .man_desc .head .title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 20px;
  margin-bottom: 15px;
}
.sec3 .man .man_desc .head .title p {
  margin: 0;
}
.sec3 .man .man_desc .head .desc {
  font-size: 14px;
  line-height: 26px;
  padding-top: 20px;
  border-top: 2px dashed #000000;
}
.sec3 .man h3 {
  display: block;
  color: #ffffff;
}
#sec3 {
  width: 100%;
  height: 600px;
  background-color: #000000;
  overflow: hidden;
  margin-top: 50px;
}
