.footer 
    .contact.mobile
        h3.secTitle.eng -CONTACT-
        .message 
            p.eng NUSINESS：bp@beslab.xyz
            p.eng JOIN US：hi@beslab.xyz
            p.chn 商业合作：bp@beslab.xyz
            p.chn 加入我们：hi@beslab.xyz
        img.con(src="img/pc/footer1.png", src1="img/pc/footer11.png" alt="")
        img.con(src="img/pc/footer2.png", src1="img/pc/footer22.png" alt="")
        img.con(src="img/pc/footer3.png", src1="img/pc/footer33.png" alt="")
        img.con.last(src="img/pc/footer4.png", src1="img/pc/footer44.png" alt="")
        .mobile_border 
        img.ban(src="img/pc/logo.png", alt="")
    .contact.pc#sec4
        img.ban(src="img/pc/logo.png", alt="")
        div.gap.gap1.pc
        img.first.con(src="img/pc/footer1.png", src1="img/pc/footer11.png" alt="")
        img.con(src="img/pc/footer2.png", src1="img/pc/footer22.png" alt="")
        img.con(src="img/pc/footer3.png", src1="img/pc/footer33.png" alt="")
        img.con.last(src="img/pc/footer4.png", src1="img/pc/footer44.png" alt="")
        div.gap.pc
        .message 
            p.eng BUSINESS：bp@beslab.xyz
            p.eng JOIN US：hi@beslab.xyz
            p.chn 商业合作：bp@beslab.xyz
            p.chn 加入我们：hi@beslab.xyz
.footer_rights © 2018 BESLAB All rights reserved

script(type="text/javascript", src="js/index.js")
script(type="text/javascript", src="js/sec3.js")
<script src="js/three.min.js"></script>
<script src="js/projector.js"></script>
<script src="js/canvas-renderer.js"></script>
<script src="js/3d-lines-animation.js"></script>
