extends layout.jade
block script
        link(rel="stylesheet", href="css/new.css" media="(min-width:850px)")
        link(rel="stylesheet", href="css/new_mobile.css" media="(max-width:851px)")
block content
    .container
        .sec1_wrap
            .sec1#sec2
                h3.secTitle.eng -ABOUT US-
                h3.secTitle.chn -关于我们-
                .article
                    .title.secSubTitle.eng < What we do >
                    .title.secSubTitle.chn < 我们做什么 >
                    .desc.eng  
                        span Blockchain Economics Studio (BES) 
                    .desc.eng is a venture production studio discovering and building future economies with blockchain technology.  We work with entrepreneurs, developers, investors to incubate next pioneering idea from the ground up. Existing portfolios include cryptocurrency asset management platform, crypto institutional trading terminal, non-fungible assets,  proof of capacity consensus, blockchain enabled applications, etc. Our research focus is mainly on new micro and macro economy models in the new era. We believe blockchain will serve as the backbone of new types of cooperation between machines and between humans in digital age, and we like to connect people and ideas to make it happen.
                    .desc.chn  
                        span Blockchain Economics Studio (BES) 
                    .desc.chn 是一个专注于发现和构建区块链科技未来经济的工作室。我们同创业者、开发者、投资人一起合作从零开始孵化产品或服务。目前项目包括虚拟货币资产管理平台、虚拟机构交易终端、非可替代性资产、PoC 共识协议以及区块链应用程序等。我们的研究重点主要在区块链世界的新经济模型。我们相信区块链会成为数字时代，人与机器新型合作的支柱产业，我们也希望能够连结人们及他们的创意来实现这一目标。
                img.secImg(src="img/pc/item1.png", alt="")
                .mobile_border 
                .one_title.secSubTitle.eng < How we do it >
                .one_title.title.secSubTitle.chn < 怎么做 >
                //- img.arr(src="img/pc/arr.png", alt="")
                .imgs
                    .div
                        img(src="img/pc/item2_1.png", alt="")
                        p.eng FROM AN 
                        p.eng IDEA
                        p.chn 从一个想
                        p.chn 法开始
                    .div
                        img(src="img/pc/item2_2.png", alt="")
                        p.eng MVP
                        p.eng BOOTSTRAP 
                        p.eng PING 
                        p.chn 产品原型
                        p.chn 迭代
                    .div
                        img(src="img/pc/item2_3.png", alt="")
                        p.eng ECONOMIC
                        p.eng MODEL
                        p.eng DESIGN
                        p.chn 经济机制
                        p.chn 设计
                    .div
                        img(src="img/pc/item2_4.png", alt="")
                        p.eng USER AND 
                        p.eng COMMUNIT
                        p.eng Y GROWTH
                        p.chn 社区用户
                        p.chn 增长
                    .div
                        img(src="img/pc/item2_5.png", alt="")
                        p.eng INDEPENDE
                        p.eng NT FUND
                        p.eng RAISING
                        p.chn 独立融资
                    .div
                        img(src="img/pc/item2_6.png", alt="")
                        p.eng ON-CHAIN AN
                        p.eng D OFF-CHAIN
                        p.eng DEVELOPING
                        p.chn 技术开发
                    .div
                        img(src="img/pc/item2_7.png", alt="")
                        p.eng MASSIVE
                        p.eng ADOPTION
                        p.chn 广泛使用
                
        .sec2#secc3 
            .blog
                h3.secTitle.eng -BLOG-
                h3.secTitle.chn -博客-

                p.title.eng < 什么是 Bancor 协议 >
                p.title.chn < 什么是 Bancor 协议 >
                .mobile_border                 
                p.desc.chn Bancor 协议自出现以来，大致发展出三类应用方向，即解决长尾 Token 流动性问题，稀缺资源分配问题，及 Token 融资问题。对应项目分别是 Bancor，EOS RAM 以及 FIBOS。不过，从以上三个项目的应用来看，虽然都具有很大的创新意义，但同时暴露出一些 Bancor 还未解决的问题。本文将从 Bancor 算法出发，结合以上三个项目，探讨 Bancor 机制的应用与发展。
                p.desc.eng Bancor 协议自出现以来，大致发展出三类应用方向，即解决长尾 Token 流动性问题，稀缺资源分配问题，及 Token 融资问题。对应项目分别是 Bancor，EOS RAM 以及 FIBOS。不过，从以上三个项目的应用来看，虽然都具有很大的创新意义，但同时暴露出一些 Bancor 还未解决的问题。本文将从 Bancor 算法出发，结合以上三个项目，探讨 Bancor 机制的应用与发展。
                a.more(href='https://medium.com/@blockchaineconomicsstudio/bes-%E5%86%85%E9%83%A8%E6%B7%B1%E5%BA%A6-bancor-%E7%AE%97%E6%B3%95%E5%8F%8A-ibo-%E7%9A%84%E6%9C%AA%E6%9D%A5-f217380fb38')
                    span.eng More  
                    span.chn 更多
                    img(src="img/pc/arr.png", src1="img/pc/arr1.png", alt="")

                p.title.eng < 区块链到底能干什么 >
                p.title.chn < 区块链到底能干什么 >
                .mobile_border                 
                p.desc.chn 区块链到底能干什么？这是一个创业者、投资人、韭菜都想回答，却人人回避的问题。一方面是因为行业还在极度原始的探索期，大部分资源和注意力都集中在技术层面，还有一方面是大家并不愿意承认「看不到方向」，多少会说出几个看似合理的应用场景，但大多数经不起推敲，也没有被验证。所以，这个行业里有很多「国王」，却少有说出真相的「小男孩」，告诉国王他没有穿衣裳。
                p.desc.eng 区块链到底能干什么？这是一个创业者、投资人、韭菜都想回答，却人人回避的问题。一方面是因为行业还在极度原始的探索期，大部分资源和注意力都集中在技术层面，还有一方面是大家并不愿意承认「看不到方向」，多少会说出几个看似合理的应用场景，但大多数经不起推敲，也没有被验证。所以，这个行业里有很多「国王」，却少有说出真相的「小男孩」，告诉国王他没有穿衣裳。
                a.more(href='https://medium.com/@blockchaineconomicsstudio/%E5%8C%BA%E5%9D%97%E9%93%BE%E5%88%B0%E5%BA%95%E8%83%BD%E5%B9%B2%E4%BB%80%E4%B9%88-50ee8a65f397')
                    span.eng More  
                    span.chn 更多
                    img(src="img/pc/arr.png", src1="img/pc/arr1.png", alt="")

                p.title.eng < FCoin 模式 >
                p.title.chn < FCoin 模式 >
                .mobile_border                 
                p.desc.chn 交易挖矿，持币分红，高额邀请返利，变相 ICO，FCoin 的这一波操作，你看懂了吗？关于 FCoin 的平台币 FT，BES Lab 的创始人 Jade 在本文带你深入探讨这个每日交易量超过 240 亿人民币的交易所是如何玩转 Token 网络经济的。
                p.desc.eng 交易挖矿，持币分红，高额邀请返利，变相 ICO，FCoin 的这一波操作，你看懂了吗？关于 FCoin 的平台币 FT，BES Lab 的创始人 Jade 在本文带你深入探讨这个每日交易量超过 240 亿人民币的交易所是如何玩转 Token 网络经济的。
                a.more(href='https://medium.com/@blockchaineconomicsstudio/bes-%E5%86%85%E9%83%A8%E7%A0%94%E7%A9%B6%E6%8A%A5%E5%91%8A-fcoin%E6%A8%A1%E5%BC%8F-%E8%AF%A6%E8%A7%A3-bdf991d21eb6')
                    span.eng More  
                    span.chn 更多
                    img(src="img/pc/arr.png", src1="img/pc/arr1.png", alt="")
                    
        canvas#sec3(width="100%" height="600") 
        .sec3
            .man#sec4
                h3.secTitle.eng -BES FULL NODES-
                h3.secTitle.chn -节点成员-
                .headers
                    .head1
                        img.large(src="img/pc/man.png", src1="img/pc/man1.png" manId=1 alt="")
                        span.eng Jade Hou
                        span.eng Founder 
                        span.chn Jade Hou
                        span.chn Funder  
                    .head2
                        img.large(src="img/pc/man2-1.png", src1="img/pc/man2.png" manId=2 alt="")
                        span.eng Sky He
                        span.eng Co-founder
                        span.chn Sky He
                        span.chn CO Funder 
                    .head3
                        img.mid(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                    .head4
                        img.mid(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                    .head5
                        img.mid(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                    .head6
                        img.small(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                    .head7
                        img.small(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                    .head8
                        img.small(src="img/pc/man.png", src1="img/pc/man1.png" alt="")
                .man_desc
                    img.close(src="img/pc/close.png", alt="")
                    .head 
                        img(src="img/pc/item2_1.png", alt="")
                        .title  
                            p.job Co-Funder 
                            p.name hou
                        .desc Jade 
    
    include footer.jade